<!Doctype html>
<html>

<head>
    <title>Your Prediction!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color: black;">

    <div id="maintext" style="position:absolute; margin:auto; width:700px; height:300px; text-align:center; top:0; bottom: 0; left: 0; right: 0;">
        <h1 class="text-light mb-5"> The Singer is <span>{{singer_name}}</span></h1>
        <a href="home.html"><button class="button mt-3">Try again?</button></a>
        </div>

</body>
</html>